.top-ten-crypto-card-container {
    max-width: 600px; /* Set the maximum width */
    width: 100%; /* Ensure it takes the full width of the parent */
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.top-ten-crypto-card-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.top-ten-crypto-header-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.top-ten-crypto-row-description {
    font-size: 15px;
}