.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px;
}

.grid-item {
    padding: 20px;
}

.CurrentStatusCardCSS {
    grid-column: 1;
    grid-row: 1/2;
}

.YogaPoseHomePageCardCSS {
    grid-column: 1;
    grid-row: 4/10;
}

.TopTenCryptoCardCSS {
    grid-column: 2;
    grid-row: 1/4;
}

.FavoriteCryptoCardCSS {
    grid-column: 2;
    grid-row: 9/10;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .CurrentStatusCardCSS,
    .YogaPoseHomePageCardCSS,
    .TopTenCryptoCardCSS,
    .FavoriteCryptoCardCSS {
        grid-column: 1;
        grid-row: auto;
    }
}