.HomePageTitle {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 900px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 100px 100px 100px 100px 100px; /* 17 rows */
    gap: 10px;
    padding-bottom: 10px;
}

.grid-item {
    padding: 20px;
}

.current-status-card-grid-container {
    grid-column: 1;
    grid-row: 1/2;
}

.yoga-pose-home-card-grid-container {
    grid-column: 1;
    grid-row: 6/10;
}

.top-ten-crypto-card-grid-container {
    grid-column: 2;
    grid-row: 1/10;
}

/* .favorite-crypto-card-grid-container {
    grid-column: 2;
    grid-row: 11/17;
    margin-bottom: 100px;
} */

/* Media query for smaller screens */
/* Larger than mobile screen */

/* @media (min-width: 40.0rem) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .current-status-card-grid-container,
    .yoga-pose-home-card-grid-container,
    .top-ten-crypto-card-grid-container,
    .favorite-crypto-card-grid-container {
        grid-column: 1;
        grid-row: auto;
    }
} */
 
/* Larger than tablet screen */

/* @media (min-width: 80.0rem) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .current-status-card-grid-container,
    .yoga-pose-home-card-grid-container,
    .top-ten-crypto-card-grid-container,
    .favorite-crypto-card-grid-container {
        grid-column: auto;
        grid-row: auto;
    }
}
  */
/* Larger than desktop screen */

/* @media (min-width: 120.0rem) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .current-status-card-grid-container,
    .yoga-pose-home-card-grid-container,
    .top-ten-crypto-card-grid-container,
    .favorite-crypto-card-grid-container {
        grid-column: auto;
        grid-row: auto;
    }
} */