.user-profile-page-title {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    font-weight: bold;
}

.user-profile-page-content {
    display: flex;
    justify-content: center;
    margin: 0;
}
