/* All Properties */

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire viewport */
    z-index: -1; /* Place the video behind other content */
}



/* Log In Page */

.log-in-page-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

.log-in-container {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	align-items: center;
	max-height: 100%;
	max-width: 100%;

}

.log-in-title {
	text-align: center;
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 2rem;
}

.log-in-username-input {
	font-size: 20px;
	width: 100%; /* Set the width to 100% of the parent container */
    max-width: 400px; /* Optional: Set a maximum width */
    padding: 10px; /* Optional: Add padding for better appearance */
    margin-bottom: 1rem; /* Optional: Add margin to separate from other elements */
}

.log-in-password-input {
	font-size: 20px;
	width: 100%; /* Set the width to 100% of the parent container */
	max-width: 400px; /* Optional: Set a maximum width */
	padding: 10px; /* Optional: Add padding for better appearance */
	margin-bottom: 1rem; /* Optional: Add margin to separate from other elements */
}

.username-title {
	font-size: 20px;
	margin-bottom: 1rem;
}

.password-title {
	font-size: 20px;
	margin-bottom: 1rem;
}

.log-in-button-container {
	display: flex;
    justify-content: center;
    gap: 10px; /* Add space between the buttons */
    width: 100%;
    max-width: 400px;
}

.log-in-button {
	font-size: 2rem;
	height: 4rem;
	line-height: 2.5rem;
	padding: 0 2rem;
}

.log-in-register-button {
	font-size: 2rem;
	height: 4rem;
	line-height: 2.5rem;
	padding: 0 2rem;
}

/* Register Page */
.register-page-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}


.register-container {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	align-items: center;
	max-height: 100%;
	max-width: 100%;
}

.register-title {
	text-align: center;
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 1rem;
}

.username-title {
	font-size: 20px;
	margin-bottom: 1rem;
}

.email-title {
	font-size: 20px;
	margin-bottom: 1rem;
}

.password-title {
	font-size: 20px;
	margin-bottom: 1rem;
}

.register-log-in-button-container {
	display: flex;
    justify-content: center;
    gap: 10px; /* Add space between the buttons */
    width: 100%;
    max-width: 400px;
}

.register-log-in-button {
	font-size: 2rem;
	height: 4rem;
	line-height: 2.5rem;
	padding: 0 2rem;
}

.register-button {
	font-size: .8rem;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1.5rem;
}

.register-username-input {
	font-size: 20px;
	width: 100%; /* Set the width to 100% of the parent container */
	max-width: 400px; /* Optional: Set a maximum width */
	padding: 10px; /* Optional: Add padding for better appearance */
	margin-bottom: 1rem; /* Optional: Add margin to separate from other elements */
}

.register-email-input {
	font-size: 20px;
	width: 100%; /* Set the width to 100% of the parent container */
	max-width: 400px; /* Optional: Set a maximum width */
	padding: 10px; /* Optional: Add padding for better appearance */
	margin-bottom: 1rem; /* Optional: Add margin to separate from other elements */
}

.register-password-input {
	font-size: 20px;
	width: 100%; /* Set the width to 100% of the parent container */
	max-width: 400px; /* Optional: Set a maximum width */
	padding: 10px; /* Optional: Add padding for better appearance */
	margin-bottom: 1rem; /* Optional: Add margin to separate from other elements */
}

.go-back-to-login-button {
	font-size: 1.5rem;
	height: 3.5rem;
	line-height: 1rem;
	padding: 0 1rem;
}

.register-button {
	font-size: 2rem;
	height: 3.5rem;
	line-height: 2.5rem;
	padding: 0 1.5rem;
}