.log-in-container {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	align-items: center;
	max-height: 100%;
	max-width: 100%;

}

.log-in-title {
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 1rem;
}

.log-in-username-input {
	font-size: 20px;
	width: 100%; /* Set the width to 100% of the parent container */
    max-width: 400px; /* Optional: Set a maximum width */
    padding: 10px; /* Optional: Add padding for better appearance */
    margin-bottom: 1rem; /* Optional: Add margin to separate from other elements */
}

.log-in-password-input {
	font-size: 20px;
	width: 100%; /* Set the width to 100% of the parent container */
	max-width: 400px; /* Optional: Set a maximum width */
	padding: 10px; /* Optional: Add padding for better appearance */
	margin-bottom: 1rem; /* Optional: Add margin to separate from other elements */
}

.username-title {
	font-size: 20px;
	margin-bottom: 1rem;
}

.password-title {
	font-size: 20px;
	margin-bottom: 1rem;
}

.register-button {
	font-size: 20px;
	padding: 10px;
	width: 100%;
	max-width: 400px;
	margin-bottom: 1rem;
}

.log-in-button{
	font-size: 20px;
	padding: 10px;
	width: 100%;
	max-width: 400px;
	margin-bottom: 1rem;
}

.log-in-button-container {
	display: flex;
    justify-content: center;
    gap: 10px; /* Add space between the buttons */
    width: 100%;
    max-width: 400px;
}

.register-button {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    max-width: 190px; /* Adjust width to fit within the container */
    margin-bottom: 1rem;
}

.register-button {
	font-size: .8rem;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1.5rem;
}

.log-in-button {
	font-size: .8rem;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1.5rem;
}